@app.route('/dashboard', methods=['GET', 'POST'])
def dashboard():
    if 'user_id' not in session:
        return redirect('/loginpage')

    if request.method == 'POST':
        print("POST RECEIVED ✔")
        print("FORM DATA:", request.form)

        have = request.form['have']
        want = request.form['want']

        print("HAVE:", have, "WANT:", want)

        skill = Skills(
            user_id=session['user_id'],
            skills_have=have,
            skills_want=want
        )

        db.session.add(skill)
        db.session.commit()

        print("SAVED ✔")

    return render_template("dashboard.html")