<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>

    <style>
        body {
            margin: 0;
            overflow: hidden;
        }

        video {
            position: fixed;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>

    <script>
        setTimeout(function(){
    window.location.href = "/loginpage";
}, 8000);
    </script>

</head>

<body>
<video autoplay muted playsinline>
    <source src="/static/intro.mp4?v=1" type="video/mp4">
</video>
    

</body>
</html>